@model _23dh111584_MyStore.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center text-white p-3" style="background-color: #28a745;">XÓA DANH MỤC CÔNG VIỆC</h2>

<div class="container mt-4">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="card">
            <div class="card-header bg-danger text-white">
                <h5 class="mb-0">Cảnh Báo</h5>
            </div>
            <div class="card-body">
                <h4>Bạn thực sự muốn xóa danh mục này không?</h4>

                <div class="form-group row">
                    <div class="control-label col-md-2">Tên danh mục:</div>
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.CategoryName)
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <input type="submit" value="Xóa" class="btn btn-danger" />
                @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    }
</div>