@model IEnumerable<_23dh111584_MyStore.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-black-success"Danh sách danh mục sản phẩm</h2>

<table class="table bg-info col-lg-12 col-md-6 ">
    <tr>
        <th class="bg-success">
            @*Html.DisplayNameFor(model => model.CategoryName)*@
            TÊN DANH MỤC
        </th>
        <th class="bg-success"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.ActionLink("sửa ", "Edit", new { id = item.CategoryID }, new { @class = "btn btn-primary btn-sm" })
            @Html.ActionLink("xóa", "Details", new { id = item.CategoryID }, new { @class = "btn btn-primary btn-sm" })
          
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class= "btn btn-primary btn-sm"})
</p>
